---
import {SITE} from '~/config.mjs';
import Layout from '~/layouts/PageLayout.astro';

const meta = {
	title: SITE.title,
	description: SITE.description,
};
---

<Layout {meta}>
	<section>
		<div class="flex md:h-screen max-w-6xl mx-auto px-4 sm:px-6 md:-mt-20">
			<div class="m-auto py-12 md:py-20">
				<div class="text-center pb-10 md:pb-16">
					<img src="/assets/santiago-hervella.jpg" class="mx-auto m-4 rounded-full" width="144" height="144">
					<!-- TDOO: Make it so that hovering over the image reveals the rest of the picture? Could be cool! -->
					<h1 class="leading-normal text-5xl md:text-[3.50rem] font-bold leading-tighter tracking-tighter mb-4 font-heading background-animate bg-clip-text text-transparent bg-gradient-to-r from-primary-500 to-secondary-500 sm:whitespace-nowrap">
						Santiago Hervella
					</h1>
					<div class="max-w-3xl mx-auto">
						<p class="text-xl text-gray-600  dark:text-slate-400">
							<span class="text-2xl">Programmer & Musician. Aspiring Mugician</span>
						</p>
						<div class="max-w-none px-6 my-8 flex flex-nowrap flex-col sm:flex-row sm:justify-center gap-6">
							<div class="flex w-full sm:w-auto">
								<a
									href="https://album.link/i/1646358067"
									class="btn text-white border border-primary-600/30 bg-primary-600/90 dark:bg-primary-800/80 hover:bg-primary-800 hover:border-primary-800 sm:mb-0 px-8 py-3 w-full rounded-3xl"
								>
									Music
								</a>
							</div>
							<div class="flex w-full sm:w-auto">
								<a
									href="https://docs.google.com/spreadsheets/d/1AjAevSUO-7Foh0GWmA4jCT0QQ6P2-JWHRatrNMr8_AE/"
									class="btn text-white bg-gray-900 hover:bg-gray-700 dark:bg-gray-700 dark:hover:bg-gray-600 px-8 py-3 w-full rounded-3xl"
								>
									Reading List
								</a>
							</div>
							<div class="flex w-full sm:w-auto">
								<a
									href="/blog"
									class="btn text-white bg-gray-900 hover:bg-gray-700 dark:bg-gray-700 dark:hover:bg-gray-600 px-8 py-3 w-full rounded-3xl"
								>
									Blog
								</a>
							</div>
						</div>
						<p class="text-xl text-gray-600 mb-4 dark:text-slate-400">
							<span class="text-2xl">Say hello!</span>
						</p>
						<div class="sm:-mt-2 not-prose text-3xl font-bold bg-clip-text text-transparent bg-gradient-to-r from-primary-500 to-secondary-500 sm:whitespace-nowrap hover:underline hover:underline-offset-8 hover:decoration-4 decoration-black dark:decoration-white">
							<a id="contact-email" href="mailto:hervella.santiago@gmail.com">hervella.santiago@gmail.com</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</Layout>

<style>
.background-animate {
	background-size: 400%;
	animation: AnimationName 4s ease infinite;
}

@keyframes AnimationName {
	0%,
	100% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
}
</style>
